* {
  box-sizing: border-box;
}

body {
  background: #121314;
  color: white;
  text-align: center;
  font-size: 40px;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

.home-btn {
	color: white;
}

#plus-button {
  position: relative;
  top: 70px;
  left: 40px;
}

.col-sm-12 {
  h3 {
    font-size: 40px;
  }
  form {
    input {
      height: 30px;
      width: 30px;
    }
  }
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
